body { font-family: Ubuntu,Arial,sans-serif; }
input,textarea { border:1px solid black; border-radius: 5px; padding: 5px; font-family: Ubuntu,"Trebuchet MS",sans-serif; font-size: 17px; }
#kayitform p { margin-top: 20px }
.detay,.urunac { padding: 10px; width: 60% }
.urunac { border: 3px solid black; border-radius: 10px; margin-top:15px }
.detay { display: none; }
a.urun:link,a.urun:visited,a.urun:hover,a.urun:active { font-weight: bold; color: black; text-decoration: none; }
form { width: 50%; } 
#kayitform input { float: right; clear: both;  }
#kayitform input[type="submit"] { width: 80%; float: center }
.bravo, .hata { padding: 10px; color: white; font-weight: bold; width: 45%; }
.bravo { background: green; }
.hata { background: red; }
#kayitform input[type="checkbox"] { float: none }
.nick { font-size: 32px }
.fiyat { font-weight: bold; color: green; }
#sart:visited { color: black; }
#sartlar { display: none; border: 2px solid black; padding: 3px; font-family: monospace }
.adsoyad { float: none !important; }
input[type="file"] { margin-top: 3px }
textarea { font-size: 15px; float: right; }
.adres { clear: both } .adres textarea { margin-top: 2px }
.kabul { text-align: center; margin-top: 2em !important;  }
#duzen { position: fixed; right: 0; top: 20%; }
